使用list和tuple

In [1]:
books = ['book1','book2','book3','book4','book5']

In [2]:
len(books)

5

In [3]:
books[3]

'book4'

In [5]:
books[-5]

'book1'

In [6]:
books[-6]

IndexError: list index out of range

In [7]:
books.append('book6')

In [8]:
books

['book1', 'book2', 'book3', 'book4', 'book5', 'book6']

In [9]:
books.insert(2,'简爱')

In [10]:
books

['book1', 'book2', '简爱', 'book3', 'book4', 'book5', 'book6']

In [11]:
books.pop(6)

'book6'

In [12]:
books

['book1', 'book2', '简爱', 'book3', 'book4', 'book5']

In [13]:
books[3] = '鲁宾逊漂流记'

In [14]:
books

['book1', 'book2', '简爱', '鲁宾逊漂流记', 'book4', 'book5']

In [15]:
L = ['python',123,True,]

In [16]:
t = (1,2,3,4,5)

In [17]:
t = (3)

In [18]:
t = ('a','b',['A','B'])

In [19]:
t[2][0] = 'book1'

In [20]:
t[2][1] = 'book2'

In [21]:
t

('a', 'b', ['book1', 'book2'])

In [ ]:
L = [['book1','book2'],['apple','orange'],['boy','girl']]

In [26]:
L

[['book1', 'book2'], ['apple', 'orange'], ['boy', 'girl']]

In [30]:
print(L[0][0])

book1

In [34]:
print(L[0])

['book1', 'book2']

In [31]:
print(L[1][1])

orange

In [32]:
print(L[2][0])

boy

数据类型和变量

In [33]:
a = '123'
b = a
a = '872'
print(b)

123

In [35]:
10 / 3

3.3333333333333335

In [36]:
10//3

3

In [37]:
10%3

1

条件判断

In [38]:
age = 20
if age > 18:
   print("you age is", age)
   print("adult")

you age is 20
adult

In [ ]:
age = 3
if age >= 18:
   print("you age is",age)
   print("adult")
else:
   print("you age is", age)
   print("teenager")

you age is 3
teenager

In [40]:
age = 3
if age >= 18:
    print("adult")
elif age >= 6:
    print("teenager")
else:
    print("kid")

kid

In [ ]:
s = input('birth: ')
birth = int(s)
if birth < 2000:
   print('00后')
else:
   print('00前')

In [1]:
height = 1.75
weight = 80.5

bmi = (weight/(height*height))
print(f"your BMI is {bmi:.1f}", )

if bmi < 18.5:
    print('过轻')
elif bmi >= 18.5 and bmi <= 25:
    print('正常')
elif bmi < 28:
    print('过重')
elif bmi < 32:
    print('肥胖')
else:
    print('严重肥胖')

your BMI is 26.3
过重

模式匹配

当我们用if ... elif ... elif ... else ...判断时，会写很长一串代码，可读性较差。

如果要针对某个变量匹配若干种情况，可以使用match语句

In [2]:
score = 'B'
if score == 'A':
    print('score is A')
elif score == 'B':
    print('score is B')
elif score == 'C':
    print('score is C')
else:
    print('invalid score')

score is B

使用match语句时，我们依次用case xxx匹配，并且可以在最后（且仅能在最后）加一个case _表示“任意值”，代码较if ... elif ... else ...更易读。

In [4]:
score = 'E'
match score:
    case 'A':
        print('score is A')
    case 'B':
        print('score is B')
    case 'C':
        print('score is C')
    case _:
        print('score is ???.')

score is ???.

复杂匹配
match语句除了可以匹配简单的单个值外，还可以匹配多个值、匹配一定范围，并且把匹配后的值绑定到变量：

In [9]:
age = 9
match age:
    case x if x < 10:
        print(f'< 10 years old: {x}')
    case 10:
        print('10 years old.')
    case 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18:
        print('11-18 years old')
    case 19:
        print('19 years old.')
    case _:
        print('not sure.')

< 10 years old: 9

匹配列表
match语句还可以匹配列表，功能非常强大。
我们假设用户输入了一个命令，用args = ['gcc', 'hello.c']存储，下面的代码演示了如何用match匹配来解析这个列表：

In [11]:
args = ['111','test.py','test.java']
match args:
    case ['111']:
        print('111: missing source file(s).')
    case ['111', file1, *files]:
        print('111 compile:'+file1+','+', '.join(files))
    case ['clean']:
        print('client')
    case _:
        print('invalid command.')

111 compile:test.py,test.java

循环

In [15]:
names = ['Xiaoming','Xiaoli','Zhangsan']
for name in names:
    print('names:',name)

names: Xiaoming
names: Xiaoli
names: Zhangsan

再比如我们想计算1-10的整数之和，可以用一个sum变量做累加：

In [16]:
sum = 0
for x in [1,2,3,4,5,6,7,8,9,10]:
    sum = sum + x
print(sum)

55

如果要计算1-100的整数之和，从1写到100有点困难，幸好Python提供一个range()函数，可以生成一个整数序列，再通过list()函数可以转换为list。比如range(5)生成的序列是从0开始小于5的整数：

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
sum = 0
for x in range(101):
    sum = sum + x
print(sum)

5050

第二种循环是while循环，只要条件满足，就不断循环，条件不满足时退出循环。比如我们要计算100以内所有奇数之和，可以用while循环实现：

In [19]:
sum = 0
n = 99
while n > 0:
    sum = sum + n
    n = n - 2
print(sum)

2500

break
在循环中，break语句可以提前退出循环。例如，本来要循环打印1～100的数字：

In [20]:
n = 1
while n <= 100:
    print(n)
    n = n + 1
print('n')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
n

上面的代码可以打印出1~100。

In [21]:
n = 1
while n <= 100:
    if n > 20:
        break
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
END

continue
在循环过程中，也可以通过continue语句，跳过当前的这次循环，直接开始下一次循环。

In [22]:
n = 0
while n < 10:
    n = n + 1
    print(n)

1
2
3
4
5
6
7
8
9
10

上面的程序可以打印出1～10。但是，如果我们想只打印奇数，可以用continue语句跳过某些循环：

In [23]:
n = 0 
while n < 10:
    n = n + 1
    if n % 2 == 0: # 如果n是偶数，执行continue语句
        continue # continue语句会直接继续下一轮循环，后续的print()语句不会执行
    print(n)

1
3
5
7
9

执行上面的代码可以看到，打印的不再是1～10，而是1，3，5，7，9。
可见continue的作用是提前结束本轮循环，并直接开始下一轮循环。

dict
Python内置了字典：dict的支持，dict全称dictionary，在其他语言中也称为map，使用键-值（key-value）存储，具有极快的查找速度。
举个例子，假设要根据同学的名字查找对应的成绩，如果用list实现，需要两个list：

In [ ]:
name = ['xiaohong','xiaoming','zhangsan']
score = [95,93,78]

给定一个名字，要查找对应的成绩，就先要在names中找到对应的位置，再从scores取出对应的成绩，list越长，耗时越长。
如果用dict实现，只需要一个“名字”-“成绩”的对照表，直接根据名字查找成绩，无论这个表有多大，查找速度都不会变慢。用Python写一个dict如下：

In [24]:
d = {'xiaohong':95, 'xiaoming':93,'zhangsan':78}
d['xiaohong']

95

为什么dict查找速度这么快？因为dict的实现原理和查字典是一样的。假设字典包含了1万个汉字，我们要查某一个字，一个办法是把字典从第一页往后翻，直到找到我们想要的字为止，这种方法就是在list中查找元素的方法，list越大，查找越慢。

第二种方法是先在字典的索引表里（比如部首表）查这个字对应的页码，然后直接翻到该页，找到这个字。无论找哪个字，这种查找速度都非常快，不会随着字典大小的增加而变慢。

dict就是第二种实现方式，给定一个名字，比如'Michael'，dict在内部就可以直接计算出Michael对应的存放成绩的“页码”，也就是95这个数字存放的内存地址，直接取出来，所以速度非常快。

你可以猜到，这种key-value存储方式，在放进去的时候，必须根据key算出value的存放位置，这样，取的时候才能根据key直接拿到value。

把数据放入dict的方法，除了初始化时指定外，还可以通过key放入：

In [25]:
d['Adam'] = 67
d['Adam']

67

由于一个key只能对应一个value，所以，多次对一个key放入value，后面的值会把前面的值冲掉：

In [26]:
d['Jack'] = 98
d['Jack']

98

In [27]:
d['Jack'] = 88
d['Jack']

88

如果key不存在，dict就会报错：

In [28]:
d['Thomas']

KeyError: 'Thomas'

In [29]:
'Thomas' in d

False

In [30]:
'Jack' in d

True

二是通过dict提供的get()方法，如果key不存在，可以返回None，或者自己指定的value：注意：返回None的时候Python的交互环境不显示结果。

In [32]:
d.get('Thomas')
d.get('Thomas', -1)

-1

In [33]:
d.get('Jack')

88

要删除一个key，用pop(key)方法，对应的value也会从dict中删除：

In [34]:
d.pop('zhangsan')

78

In [36]:
d

{'xiaohong': 95, 'xiaoming': 93, 'Adam': 67, 'Jack': 88}

请务必注意，dict内部存放的顺序和key放入的顺序是没有关系的。

和list比较，dict有以下几个特点：

查找和插入的速度极快，不会随着key的增加而变慢；
需要占用大量的内存，内存浪费多。
而list相反：

查找和插入的时间随着元素的增加而增加；
占用空间小，浪费内存很少。
所以，dict是用空间来换取时间的一种方法。

dict可以用在需要高速查找的很多地方，在Python代码中几乎无处不在，正确使用dict非常重要，需要牢记的第一条就是dict的key必须是不可变对象。

这是因为dict根据key来计算value的存储位置，如果每次计算相同的key得出的结果不同，那dict内部就完全混乱了。这个通过key计算位置的算法称为哈希算法（Hash）。

要保证hash的正确性，作为key的对象就不能变。在Python中，字符串、整数等都是不可变的，因此，可以放心地作为key。而list是可变的，就不能作为key：

In [37]:
key =[1,2,3]
d[key] = 'a list'

TypeError: unhashable type: 'list'

set
set和dict类似，也是一组key的集合，但不存储value。由于key不能重复，所以，在set中，没有重复的key。

要创建一个set，用{x,y,z,...}列出每个元素：

In [38]:
s = {1,2,3}

In [39]:
s

{1, 2, 3}

或者提供一个list作为输入集合：

In [41]:
s = set([1,2,3])

In [42]:
s

{1, 2, 3}

注意，传入的参数[1, 2, 3]是一个list，而显示的{1, 2, 3}只是告诉你这个set内部有1，2，3这3个元素，显示的顺序也不表示set是有序的。。

重复元素在set中自动被过滤：

In [43]:
s = {1,1,2,2,3,3,4,5}

In [44]:
s

{1, 2, 3, 4, 5}

通过add(key)方法可以添加元素到set中，可以重复添加，但不会有效果：

In [45]:
s.add(4)

In [46]:
s

{1, 2, 3, 4, 5}

通过remove(key)方法可以删除元素：

In [47]:
s.remove(4)

In [48]:
s

{1, 2, 3, 5}

set可以看成数学意义上的无序和无重复元素的集合，因此，两个set可以做数学意义上的交集、并集等操作：

In [49]:
s1 = {1,2,3}
s2 = {2,3,4}

In [50]:
s1 & s2

{2, 3}

In [51]:
s1 | s2

{1, 2, 3, 4}

set和dict的唯一区别仅在于没有存储对应的value，但是，set的原理和dict一样，所以，同样不可以放入可变对象，因为无法判断两个可变对象是否相等，也就无法保证set内部“不会有重复元素”。试试把list放入set，看看是否会报错。

再议不可变对象
上面我们讲了，str是不变对象，而list是可变对象。

对于可变对象，比如list，对list进行操作，list内部的内容是会变化的，比如：

In [55]:
a = ['c','a','b']

In [56]:
a.sort()

In [57]:
a

['a', 'b', 'c']

而对于不可变对象，比如str，对str进行操作呢：

In [59]:
a = 'abc'
a.replace('a','A')

'Abc'

In [60]:
a

'abc'

虽然字符串有个replace()方法，也确实变出了'Abc'，但变量a最后仍是'abc'，应该怎么理解呢？

我们先把代码改成下面这样：

In [61]:
a = 'abc'
b = a.replace('a','A')
b

'Abc'

In [62]:
a

'abc'

要始终牢记的是，a是变量，而'abc'才是字符串对象！有些时候，我们经常说，对象a的内容是'abc'，但其实是指，a本身是一个变量，它指向的对象的内容才是'abc'：

┌───┐     ┌───────┐
│ a │────▶│ 'abc' │
└───┘     └───────┘

当我们调用a.replace('a', 'A')时，实际上调用方法replace是作用在字符串对象'abc'上的，而这个方法虽然名字叫replace，但却没有改变字符串'abc'的内容。相反，replace方法创建了一个新字符串'Abc'并返回，如果我们用变量b指向该新字符串，就容易理解了，变量a仍指向原有的字符串'abc'，但变量b却指向新字符串'Abc'了：

┌───┐     ┌───────┐
│ a │────▶│ 'abc' │
└───┘     └───────┘
┌───┐     ┌───────┐
│ b │────▶│ 'Abc' │
└───┘     └───────┘
所以，对于不变对象来说，调用对象自身的任意方法，也不会改变该对象自身的内容。相反，这些方法会创建新的对象并返回，这样，就保证了不可变对象本身永远是不可变的。

切片
取一个list或tuple的部分元素是非常常见的操作。比如，一个list如下：

In [63]:
L = ['xiaoming','xiaotao','xiaoli','xiaohong','xiaohua']

取前3个元素，应该怎么做？

笨办法：

In [64]:
[L[0],L[1],L[2]]

['xiaoming', 'xiaotao', 'xiaoli']

之所以是笨办法是因为扩展一下，取前N个元素就没辙了。

取前N个元素，也就是索引为0-(N-1)的元素，可以用循环：

In [65]:
r = []
n = 3
for i in range(n):
    r.append(L[i])
r

['xiaoming', 'xiaotao', 'xiaoli']

对这种经常取指定索引范围的操作，用循环十分繁琐，因此，Python提供了切片（Slice）操作符，能大大简化这种操作。

对应上面的问题，取前3个元素，用一行代码就可以完成切片：

In [66]:
L[0:3]

['xiaoming', 'xiaotao', 'xiaoli']

L[0:3]表示，从索引0开始取，直到索引3为止，但不包括索引3。即索引0，1，2，正好是3个元素。

如果第一个索引是0，还可以省略：

In [67]:
L[:3]

['xiaoming', 'xiaotao', 'xiaoli']

也可以从索引1开始，取出2个元素出来：

In [68]:
L[1:3]

['xiaotao', 'xiaoli']

类似的，既然Python支持L[-1]取倒数第一个元素，那么它同样支持倒数切片，试试：

In [69]:
L[-2:]

['xiaohong', 'xiaohua']

In [ ]:
L[-2:-1]

['xiaohong']

In [74]:
L[-3:]

['xiaoli', 'xiaohong', 'xiaohua']

记住倒数第一个元素的索引是-1。

切片操作十分有用。我们先创建一个0-99的数列：

In [75]:
L = list(range(100))
L

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

可以通过切片轻松取出某一段数列。比如前10个数：

In [89]:
L[1:]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [76]:
L[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
L[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

后10个数：

In [78]:
L[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

前11-20个数：

In [79]:
L[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

前10个数，每两个取一个：

In [80]:
L[:10:2]

[0, 2, 4, 6, 8]

所有数，每5个取一个：

In [81]:
L[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

甚至什么都不写，只写[:]就可以原样复制一个list：

In [82]:
L[:]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

tuple也是一种list，唯一区别是tuple不可变。因此，tuple也可以用切片操作，只是操作的结果仍是tuple：

In [83]:
(0,1,2,3,4,5)[:3]

(0, 1, 2)

字符串'xxx'也可以看成是一种list，每个元素就是一个字符。因此，字符串也可以用切片操作，只是操作结果仍是字符串：

In [84]:
'ABCDEFG'[:3]

'ABC'

In [85]:
'ABCDEFG'[::2]

'ACEG'

In [87]:
'ABCDEFG'[::3]

'ADG'

迭代
如果给定一个list或tuple，我们可以通过for循环来遍历这个list或tuple，这种遍历我们称为迭代（Iteration）。

在Python中，迭代是通过for ... in来完成的，而很多语言比如C语言，迭代list是通过下标完成的，比如C代码：

In [92]:
for i, value in enumerate(['A','B','C']):
    print(i, value)

0 A
1 B
2 C

上面的for循环里，同时引用了两个变量，在Python里是很常见的，比如下面的代码：

In [93]:
for x,y in [(1,1),(2,4),(3,9)]:
    print(x,y)

1 1
2 4
3 9